CE_Network/CE_Network/Web References/local.strandmollen.barcode/bc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://barcode.strandmollen.local/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://barcode.strandmollen.local/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Udskrift af stregkoder v.1.5</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://barcode.strandmollen.local/">
      <s:element name="StoreData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="copies" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Printer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="LastCall" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StoreDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StoreDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RePrint">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="copies" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Printer" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RePrintResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RePrintResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType />
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Printers">
        <s:complexType />
      </s:element>
      <s:element name="PrintersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PrintersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StoreDataSoapIn">
    <wsdl:part name="parameters" element="tns:StoreData" />
  </wsdl:message>
  <wsdl:message name="StoreDataSoapOut">
    <wsdl:part name="parameters" element="tns:StoreDataResponse" />
  </wsdl:message>
  <wsdl:message name="RePrintSoapIn">
    <wsdl:part name="parameters" element="tns:RePrint" />
  </wsdl:message>
  <wsdl:message name="RePrintSoapOut">
    <wsdl:part name="parameters" element="tns:RePrintResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="GetDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="PrintersSoapIn">
    <wsdl:part name="parameters" element="tns:Printers" />
  </wsdl:message>
  <wsdl:message name="PrintersSoapOut">
    <wsdl:part name="parameters" element="tns:PrintersResponse" />
  </wsdl:message>
  <wsdl:portType name="bcSoap">
    <wsdl:operation name="StoreData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Indlæser data i database incl Holbaek og Ljungby</wsdl:documentation>
      <wsdl:input message="tns:StoreDataSoapIn" />
      <wsdl:output message="tns:StoreDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RePrint">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genudskriver sidste sæt stregkoder</wsdl:documentation>
      <wsdl:input message="tns:RePrintSoapIn" />
      <wsdl:output message="tns:RePrintSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Henter data i database</wsdl:documentation>
      <wsdl:input message="tns:GetDataSoapIn" />
      <wsdl:output message="tns:GetDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Printers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Printeropsætning</wsdl:documentation>
      <wsdl:input message="tns:PrintersSoapIn" />
      <wsdl:output message="tns:PrintersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bcSoap" type="tns:bcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreData">
      <soap:operation soapAction="http://barcode.strandmollen.local/StoreData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RePrint">
      <soap:operation soapAction="http://barcode.strandmollen.local/RePrint" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://barcode.strandmollen.local/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Printers">
      <soap:operation soapAction="http://barcode.strandmollen.local/Printers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="bcSoap12" type="tns:bcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreData">
      <soap12:operation soapAction="http://barcode.strandmollen.local/StoreData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RePrint">
      <soap12:operation soapAction="http://barcode.strandmollen.local/RePrint" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://barcode.strandmollen.local/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Printers">
      <soap12:operation soapAction="http://barcode.strandmollen.local/Printers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="bc">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Udskrift af stregkoder v.1.5</wsdl:documentation>
    <wsdl:port name="bcSoap" binding="tns:bcSoap">
      <soap:address location="http://barcode.strandmollen.local/bc.asmx" />
    </wsdl:port>
    <wsdl:port name="bcSoap12" binding="tns:bcSoap12">
      <soap12:address location="http://barcode.strandmollen.local/bc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>