Flaskefyldning/Flaskefyldning/Web References/webservices/StringWriter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://srv-web-03/webservices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://srv-web-03/webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://srv-web-03/webservices">
      <s:element name="StringWriter">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteMe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringWriterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StringWriterResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringWriterChecked">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WriteMe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringWriterCheckedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="StringWriterCheckedResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringReader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Location" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StringReaderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StringReaderResult" type="tns:ArticleFile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArticleFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="AllLines" type="tns:ArrayOfString" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="StringWriterSoapIn">
    <wsdl:part name="parameters" element="tns:StringWriter" />
  </wsdl:message>
  <wsdl:message name="StringWriterSoapOut">
    <wsdl:part name="parameters" element="tns:StringWriterResponse" />
  </wsdl:message>
  <wsdl:message name="StringWriterCheckedSoapIn">
    <wsdl:part name="parameters" element="tns:StringWriterChecked" />
  </wsdl:message>
  <wsdl:message name="StringWriterCheckedSoapOut">
    <wsdl:part name="parameters" element="tns:StringWriterCheckedResponse" />
  </wsdl:message>
  <wsdl:message name="StringReaderSoapIn">
    <wsdl:part name="parameters" element="tns:StringReader" />
  </wsdl:message>
  <wsdl:message name="StringReaderSoapOut">
    <wsdl:part name="parameters" element="tns:StringReaderResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="StringWriter">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Skriver string til fil.</wsdl:documentation>
      <wsdl:input message="tns:StringWriterSoapIn" />
      <wsdl:output message="tns:StringWriterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StringWriterChecked">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Skriver string til fil og kontrollere at string ikke findes allerede.</wsdl:documentation>
      <wsdl:input message="tns:StringWriterCheckedSoapIn" />
      <wsdl:output message="tns:StringWriterCheckedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StringReader">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Læser fil fra forspurgt lokation.</wsdl:documentation>
      <wsdl:input message="tns:StringReaderSoapIn" />
      <wsdl:output message="tns:StringReaderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StringWriter">
      <soap:operation soapAction="http://srv-web-03/webservices/StringWriter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringWriterChecked">
      <soap:operation soapAction="http://srv-web-03/webservices/StringWriterChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringReader">
      <soap:operation soapAction="http://srv-web-03/webservices/StringReader" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StringWriter">
      <soap12:operation soapAction="http://srv-web-03/webservices/StringWriter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringWriterChecked">
      <soap12:operation soapAction="http://srv-web-03/webservices/StringWriterChecked" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StringReader">
      <soap12:operation soapAction="http://srv-web-03/webservices/StringReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://webservices.strandmollen.local/WSString/StringWriter.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://webservices.strandmollen.local/WSString/StringWriter.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>